<div class="text-center">
  <h3 class="text-center text-primary">Education</h3>
<table class="table table-bordered table-hover mytable">
  <thead>
    <tr>
      <td>Examination Passed</td>
      <td>Discipiline</td>
      <td>College/University</td>
      <td>Year of Passing</td>
      <td>% of Marks</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let edu of AppService.profile.Education">
      <td class="text-primary">{{edu.Degree}}</td>
      <td class="text-primary">{{edu.Disipline}}</td>
      <td class="text-primary">{{edu.CollegeOrUniversity}}</td>
      <td class="text-primary">{{edu.YearOfPassing}}</td>
      <td class="text-primary">{{edu.Marks}}</td>
    </tr>
  </tbody>
</table>
</div>
