<div>
    •	Over all 7.1 years of technical experience in IT industry. Very good Knowledge of C#, Asp.Net, Asp.Net MVC, AngularJs, Jquery, Javascript, TypeScript, Css, Html, WebAPi, WCF, Microsoft SQL Server, MSBI(SSIS, SSRS), Windows Mobile Smart Client and Xamarin Android.

    •	Currently working at Chennai. Have Onshore experience at London,UK.

    •	Worked in Retail & Healthcare domains.

    •	Worked in Waterfall and Agile methodologies.

    •	Worked in both Product development & Service Delivery Culture.

    •	Have good knowledge of Asp.Net Website, SPA Web, WCF and MSBI technologies.

    •	Contributed in Core Architecture design & components development and Team delivery.

    •	Worked as Performance Engineer for projects. Key tasks include analyzing the time taken queries, blocking process reports, deadlock reports, and providing solutions to improve the query cost by creating/modifying Indexes on database objects, and tuning the SQL queries.

    •	Working as Onsite Project coordinator for CSSM projects. Key tasks include Coordinating with business teams (for requirements gathering and gap analysis), support teams, Architect teams (to finalize the design for projects) and Offshore teams.

    •	Designed and developed several re-usable tools (Deployment verification tool, Database Scripter, DB scripts batch file generation) for project.

</div>
