<div>
  <div *ngFor="let project of AppService.profile.Projects">
    <p>Project: {{project.Name}} ({{project.WorkedDateRange}})</p>
    <p>Position: {{project.Role}}</p>
    <p>Cliend: {{project.Client}}</p>
    <p>Description:</p>
    <p>{{project.Description}}</p>
    <p>Responsibilites:</p>
    <p *ngFor="let res of project.Responsibilities">
      {{res.Desc}}
    </p>
    <p>Environment:</p>
    <span *ngFor="let env of project.Environments">
      {{env.Desc}},
    </span>
    <div class="divider"></div>
  </div>
</div>
