<div class="text-center">
    <div class="row text-center">
      <h4> Professinoal Experiences</h4>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <td>Organization</td>
          <td>Designation</td>
          <td>Date of joining</td>
          <td>Date of leaving</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let org of AppService.profile.Organizations">
          <td>{{org.Name}}</td>
          <td>{{org.Designation}}</td>
          <td>{{org.DOJ}}</td>
          <td>{{org.DOL}}</td>
        </tr>
      </tbody>
    </table>
  </div>
