<div class="text-center">
    <div class="row text-center">
      <h4> Professinoal Experiences</h4>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <td>Organization</td>
          <td>Designation</td>
          <td>Date of joining</td>
          <td>Date of leaving</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Cognizant Technology solutions</td>
          <td>Senior Associate</td>
          <td>10-Dec-2014</td>
          <td>Till Now</td>
        </tr>
        <tr>
          <td>Tata Consultancy Services</td>
          <td>I.T Analyst</td>
          <td>24-Mar-2010</td>
          <td>08-Dec-2014</td>
        </tr>
      </tbody>
    </table>
  </div>
