<div>
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <app-pr-input type="string" isRequired="true" placeholder="User Name" [(model)]="signUpRequest.UserName"></app-pr-input>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <app-pr-input type="string" isRequired="true" placeholder="Email" [(model)]="signUpRequest.Email"></app-pr-input>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <app-pr-input type="password" isRequired="true" placeholder="Password" [(model)]="signUpRequest.Password"></app-pr-input>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4">
      <app-pr-button btnText="SignUp" type="primary" size="sm" (click)="SignUp()"></app-pr-button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
        <app-pr-button btnText="SignUp Using Google" type="primary" size="sm" (click)="GoogleSignUp()"></app-pr-button>
    </div>
    <div class="col-xs-6">
    </div>
  </div>
</div>
