<div class="text-center">
  <h3 class="text-center text-primary">Certifications</h3>
<table class="table table-bordered table-hover mytable">
  <thead>
    <tr>
      <td>Name</td>
      <td>Vendor</td>
      <td>CompletedOn</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cer of AppService.profile.Certifications">
      <td class="text-primary">{{cer.Name}}</td>
      <td class="text-primary">{{cer.Vendor}}</td>
      <td class="text-primary">{{cer.CompletedOn}}</td>
    </tr>
  </tbody>
</table>
</div>
