<div *ngIf="AppService.profile">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h3>Profile</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <p><i class="fa fa-envelope-square" aria-hidden="true"></i>{{AppService.profile.EmailId}}</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <p><i class="fa fa-phone-square" aria-hidden="true"></i>{{AppService.profile.Mobile}}</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <p>Place: {{AppService.profile.Place}}</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-3">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <img src="../../PerumalsamyRavindran_Logo.jpg" class="profilePic" />
      </div>
    </div>
    <ul class="list-group">
      <li class="list-group-item listitemtag">
        <a routerLink="summary" routerLinkActive="activelistitemtag">Summary </a>
      </li>
      <li class="list-group-item listitemtag">
        <a routerLink="skills" routerLinkActive="activelistitemtag">Skills </a></li>
      <li class="list-group-item listitemtag">
        <a routerLink="professional-experience" routerLinkActive="activelistitemtag">Professional Experience </a>
      </li>
      <li class="list-group-item listitemtag">
        <a routerLink="education" routerLinkActive="activelistitemtag">Education </a>
      </li>
      <li class="list-group-item listitemtag">
        <a routerLink="projects-worked" routerLinkActive="activelistitemtag">Projects Worked</a>
      </li>
      <li class="list-group-item listitemtag">
        <a routerLink="awards-recognition" routerLinkActive="activelistitemtag">Awards Recognition</a>
      </li>
      <li class="list-group-item listitemtag">
        <a routerLink="certification" routerLinkActive="activelistitemtag">Certification</a>
      </li>
      <li class="list-group-item listitemtag">
        <a routerLink="personalinfo" routerLinkActive="activelistitemtag">Personal Information</a>
      </li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-9">
    <div class="contentbox">
      <router-outlet *ngIf="AppService.profile"></router-outlet>
      <div class="cssload-container" *ngIf="!AppService.profile">
        <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
      </div>
    </div>
  </div>
</div>
