<div class="text-center">
  <h3 class="text-center text-primary">Awards</h3>
<table class="table table-bordered table-hover mytable">
  <thead>
    <tr>
      <td>Name</td>
      <td>Organization</td>
      <td>Received On</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cer of AppService.profile.Awards">
      <td class="text-primary">{{cer.Name}}</td>
      <td class="text-primary">{{cer.Organization}}</td>
      <td class="text-primary">{{cer.ReceivedOn}}</td>
    </tr>
  </tbody>
</table>
</div>
