.socialIcon {
  font-size: 2em !important;
}
.socialIcon:hover {
color: #0815B0;
}
.profilePic{
  width: 100%;
  height: auto;
}
.listitemtag {
  background-color: silver;
}
.listitemtag:hover {
  background-color: #DA8C0E;
}
.activelistitemtag{
  font-weight: bold;
}
.divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}


