.cssload-clock{
	border-radius: 58px;
	border: 3px solid rgb(0,0,0);
	height: 78px;
	width: 78px;
	position: relative;
	left: 35%;
	left: calc(50% - 42px);
		left: -o-calc(50% - 42px);
		left: -ms-calc(50% - 42px);
		left: -webkit-calc(50% - 42px);
		left: -moz-calc(50% - 42px);
}
.cssload-clock:after{
	content: "";
	position: absolute;
	background-color: rgb(0,0,0);
	top:2px;
	left: 48%;
	height: 37px;
	width: 4px;
	border-radius: 5px;
	transform-origin: 50% 97%;
		-o-transform-origin: 50% 97%;
		-ms-transform-origin: 50% 97%;
		-webkit-transform-origin: 50% 97%;
		-moz-transform-origin: 50% 97%;
	animation: grdAiguille 2.3s linear infinite;
		-o-animation: grdAiguille 2.3s linear infinite;
		-ms-animation: grdAiguille 2.3s linear infinite;
		-webkit-animation: grdAiguille 2.3s linear infinite;
		-moz-animation: grdAiguille 2.3s linear infinite;
}



.cssload-clock:before{
	content: "";
	position: absolute;
	background-color: rgb(0,0,0);
	top:6px;
	left: 48%;
	height: 34px;
	width: 4px;
	border-radius: 5px;
	transform-origin: 50% 94%;
		-o-transform-origin: 50% 94%;
		-ms-transform-origin: 50% 94%;
		-webkit-transform-origin: 50% 94%;
		-moz-transform-origin: 50% 94%;
	animation: ptAiguille 13.8s linear infinite;
		-o-animation: ptAiguille 13.8s linear infinite;
		-ms-animation: ptAiguille 13.8s linear infinite;
		-webkit-animation: ptAiguille 13.8s linear infinite;
		-moz-animation: ptAiguille 13.8s linear infinite;
}



@keyframes grdAiguille{
		0%{transform:rotate(0deg);}
		100%{transform:rotate(360deg);}
}

@-o-keyframes grdAiguille{
		0%{-o-transform:rotate(0deg);}
		100%{-o-transform:rotate(360deg);}
}

@-ms-keyframes grdAiguille{
		0%{-ms-transform:rotate(0deg);}
		100%{-ms-transform:rotate(360deg);}
}

@-webkit-keyframes grdAiguille{
		0%{-webkit-transform:rotate(0deg);}
		100%{-webkit-transform:rotate(360deg);}
}

@-moz-keyframes grdAiguille{
		0%{-moz-transform:rotate(0deg);}
		100%{-moz-transform:rotate(360deg);}
}

@keyframes ptAiguille{
		0%{transform:rotate(0deg);}
		100%{transform:rotate(360deg);}
}

@-o-keyframes ptAiguille{
		0%{-o-transform:rotate(0deg);}
		100%{-o-transform:rotate(360deg);}
}

@-ms-keyframes ptAiguille{
		0%{-ms-transform:rotate(0deg);}
		100%{-ms-transform:rotate(360deg);}
}

@-webkit-keyframes ptAiguille{
		0%{-webkit-transform:rotate(0deg);}
		100%{-webkit-transform:rotate(360deg);}
}

@-moz-keyframes ptAiguille{
		0%{-moz-transform:rotate(0deg);}
		100%{-moz-transform:rotate(360deg);}
}
.socialIcon {
	font-size: 2em !important;
	color:#3673e2;
}
.socialIcon:hover {
color: #ff9800;
}
.profilePic{
  width: 130px;
  height: auto;
}
.listitemtag {
  background-color: silver;
}
.listitemtag:hover {
  background-color: #DA8C0E;
}
.activelistitemtag{
  font-weight: bold;
}
.divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.mytable >thead>tr>td{
  background-color:#3673e2;
  color: white;
  font-weight: bold;
}
.project{
  background-color:#3673e2;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  text-indent: 1em;
}
.projectworkedrange{
  font-size: 0.8em;
  text-indent: 1em;
}
.projectrole,.projectclient,.projectdescheader,.projectresposibilityheader,.projectenvironment{
  font-weight: bold;
}
.projectresposibility{
  text-indent: 1.5em;
}
.projectdesc{
  text-indent: 3em;
}
.contentbox{
  min-height: 38em;
}


/*  bhoechie tab */
.pr-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  margin-top: 20px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
  position: fixed;
}
.pr-tab-menu{
  padding-right: 0;
  padding-left: 0;
	padding-bottom: 0;
	font-size:1.1em;
}
.pr-tab-menu .list-group{
  margin-bottom: 0;
}
.pr-tab-menu .list-group>a{
  margin-bottom: 0;
}
.pr-tab-menu .list-group>a .glyphicon,
.pr-tab-menu .list-group>a .fa {
  color: #3673e2;
}
.pr-tab-menu .list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
.pr-tab-menu .list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
.pr-tab-menu .list-group>a.active,
.pr-tab-menu .list-group>a.active .glyphicon,
.pr-tab-menu .list-group>a.active .fa{
  background-color: #3673e2;
  background-image: #3673e2;
  color: #ffffff;
}
.pr-tab-menu .list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #3673e2;
}
.list-group-item{
	padding: 3px 15px;
}
@media (max-width: 767px) {
   body{ padding-top: 50px;}
   .pr-tab-container{
     position: relative;
   }
   .profilePic{
    position: relative;
   }
}
.profilebox{
  position: relative;
}
@media (min-width: 768px) and (max-width:991px) {
  body{	padding-top: 65px;}
.profilebox{
  position: fixed;
}
}
@media (min-width: 992px)  {body{	padding-top: 65px;}
.profilebox{
  position: fixed;
}
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-touched.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
.footerclass{
  background-color: black;
  color: white;
}
.loadingBox{
  margin-top: 12em;
}
